.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu--create-icon
          = link_to new_group_path do
            %i.fa.fa-edit
        %li.side-header__box__menu--edit-icon
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .side-main   
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .side-main__box
          %p.side-main__box__group-name
            = group.name
          %p.side-main__box__group-message
            = group.show_last_message

.main
  .main-header
    .main-header__left__box
      %p.main-header__left__box__group-name
        =@group.name
      %ul.main-header__left__box__member
        Member : 
        - @group.group_users.each do |group|
          %li.main-header__left__box__member--users
            = group.user.name

    .main-header__right__box
      .main-header__right__box--botton
        = link_to edit_group_path(@group.id) ,class: "btn-large" do
          .edit-botton Edit

  .main-message
    = render partial: 'message', collection: @messages

  .main-footer
    = form_for [@group, @message], id: 'new_message' do |f|
      =f.text_field :content, class:'main-footer__new-message',placeholder:'type a message'
      .form__icon  
        = f.label :image, class:'form__icon--image' do
          = fa_icon "image" 
          = f.file_field :image,class:'hidden'
      =f.submit 'Send', class:'send-botton'

        
        
      
    
